@import "reset.css";
@import "variable.css";
@import "navigation-bar.css";
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap');

body {
    font-family: 'Sunflower', sans-serif;
    background-color: var(--background-purple);
    color: white;
}



* {
    box-sizing: border-box;
}

hr{
    border-color: rebeccapurple;
}

input {
    border: none;
    outline: none;
    appearance: none;
}

.display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.position-relative {
    position: relative;
}
.a_color{
    color: white;
}